/*-- scss:defaults --*/

// fonts
@import 'https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet';
@import 'https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Patrick+Hand+SC&display=swap" rel="stylesheet';

$font-family-sans-serif: "Jost", sans-serif;
$presentation-heading-color: #80AAD7;
$presentation-title-slide-text-align: "left";

// colors
$blue:    #1b5380 !default;
$pink:  #E5146C !default;
$yellow:  #E4B94A !default;
$green:   #4F7B56 !default;
$dark:    #222326 !default;
$offwhite: #fcfbfa !default;

$body-bg: #fcfbfa;
$body-color: #222326;
$link-color: #E5146C;
$code-block-bg: $body-bg;
$code-block-border-color: $body-bg;
$tabset-border-color: $body-color;

/*-- scss:rules --*/

details>summary {
  font-size: 0.75em;
}


// Navbar

.navbar {
  font-size: 0.75em;
  border: 1px solid rgba(0, 0, 0, .1);
}

// Typography

