/* css styles */


p, body, h1, h2, h3, h4, h5, h6 {
  font-family: "Jost" !important;
}

h1 {
  font-family: "Jost" !important;
  color: #CD4232 !important;
  font-weight: 600 !important;
  font-style: italic
}

hr {
  color: #CD4232 !important;
  opacity: 1 !important;
  margin-top: 40px !important;
  border-top: 1.5px solid !important;
}

.sidebar-navigation a {
  font-size: 1.3em !important;
}

a:not(sidebar-navigation) {
  font-size: 1.1em !important;
  font-weight: 300 !important;
}

p {
  font-size: 1.1em !important;
  line-height: 1.6em !important;
  color: #222326 !important;
  font-weight: 400 !important;
}


.nav-footer-left .footer-items .nav-link, .nav-footer-center .footer-items .nav-link {
  color: #fff;
  font-weight: 600 !important;
  padding-top: 20px;
}

.nav-footer-right {
  color: black !important;
  font-weight: 600 !important;
  padding-top: 20px;
}

.sidebar-logo {
  position: absolute;
  top: 0px;
  width: 50%;
  left: 25%;
}

div.sidebar-item-container .active, div.sidebar-item-container .show>.nav-link, div.sidebar-item-container .sidebar-link>code {
  font-weight: 700 !important;
  color: ##FFF3F2 !important;
  border-bottom: 2px solid #FFF3F2 !important;
  margin-left: 28%;
  line-height: 1.8em !important;
  margin-right: 28%;
}

div.sidebar.sidebar-navigation.rollup.quarto-sidebar-toggle-contents, nav.sidebar.sidebar-navigation:not(.rollup) {
  background-color: #1E486B !important;
}


#quarto-sidebar {
  text-align: center !important;
}

.mt-1 {
  margin-top: 8rem !important;
}

.sidebar-navigation a {
  color: #fff !important;
  line-height: 1.8em !important;
  border-bottom: 2px transparent !important;
}

.sidebar-item-text {
  margin-top: 3em !important;
}

footer.footer .nav-footer, #quarto-header>nav {
  background-color: #8FACA5 !important;
  border: none !important;
}


.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 1000; /* Ensure the footer is in front of everything else */
}

@media (min-width: 1255px) {
  .my-content {
    position: fixed;
    top: 0px;
    right: 0px;
    padding: 5% !important;
    background-color: #E7E1D8; /* Background color for the second column */
    flex: 5;
    color: #222326; /* Text color for readability */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    box-sizing: border-box; /* Ensure padding is included in the width/height */
    height: 100vh; /* Ensure this column takes up the full viewport height */
    overflow: hidden; /* Prevent this column from causing scrolling */
  }

  .about-column {
    padding-right: 35%;
    padding-top: 2%;
  }

}

@media (max-width: 1255px) {
  .my-content {
    padding: 5% !important;
    flex: 5;
    color: #222326; /* Text color for readability */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    background-color: #E7E1D8; /* Background color for the second column */
    order: 2; /* Ensure it appears after the about-column */
  }

  .about-column {
    width: 100%;
    order: 1; /* Ensure it appears first */
    padding-left: 10% !important;
    padding-right: 10% !important;
    padding-top: 5% !important;
  }

  .grid {
    display: flex;
    flex-direction: column; /* Stack columns vertically */
  }
}


::selection {
  color: #fff;
  background: #CD4232;
}


.card-header {
  background-color: transparent !important;
}

h2, .h2 {
  border-bottom: none !important;
}

.card {
  border: none !important;
  /* border: 1px solid #1E486B !important; */
  /* border-radius: 50px; */
  --bs-card-border-color: #CD4232 !important;
  --bs-card-border-width: 1.5px !important;
}

.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: #CD4232 !important;
}

#links a {
  display: block;
  font-size: 1.1em !important;
  margin-bottom: 10px;
  padding: 10px 20px;
  text-decoration: none;
  color: #1E486B;
  border: 2px solid #fcfbfa;
  border-radius: 0 0 25px 25px;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
  margin-top: -17px !important;
}

#links a:hover,
#links a.active {
  background-color: #1E486B;
  color: white;
  border: 2px solid #1E486B;
  margin-top: -17px !important;
  font-size: 1.1em !important;
}


.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #CD4232;
    margin: 4px 0;
}

@media (max-width: 475px) {
    #links {
        display: none;
        flex-direction: column;
        width: 200px;
        position: absolute;
        left: 15%;
        top: 97%;
        border-radius: 0px 0px 50px 50px;
        background-color: #CD4232;
        padding: 10px 0;
        font-size: 1.1em !important;
        z-index: 1;
    }
    #links a {
    display: block;
    font-size: 1.1em !important;
    margin-bottom: 10px;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff !important;
    border-radius: 0 0 0px 0px;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
    margin-top: -17px !important;
    border: none !important;
  }
  #links a:hover,
  #links a.active {
    background-color: #fff;
    color: #1E486B !important;
    font-size: 1.1em !important;
    border: none !important;
  }
    .hamburger {
        display: flex;
    }
    #links.show {
        display: flex;
    }
}

@media (min-width: 475px) {
    #links {
        display: flex !important;
        position: static;
        flex-direction: row;
    }
}

button {
  border: none !important;
}


main {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  min-height: 100vh;
}


body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}



/* for the skills drop down menu */


.select-wrapper {
    position: absolute;
    top: 150px;
    right: 11.5%;
    transform: translateX(-50%);
    display: inline-block;
    width: 190px; /* Adjust width as needed */
}

.select-wrapper select {
    width: 100%;
    padding: 10px 20px;
    border: 2px solid #CD4232;
    border-radius: 25px;
    background-color: #fff;
    color: #CD4232;
    font-size: 16px;
    outline: none;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select-wrapper::after {
    content: '▼';
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #CD4232;
    font-size: 16px;
}


@media (max-width: 1255px) {
    .select-wrapper {
        position: relative; /* Change to relative positioning */
        left: 23% !important;
        top: auto; /* Reset top position */
        left: auto; /* Reset left position */
        transform: none; /* Reset transform */
        display: flex;
        justify-content: center !important;
        padding: 10px 0; /* Add padding if needed */
        width: 190px; /* Adjust width as needed */

    }

    .select-wrapper select {
        width: 100%; /* Adjust width for smaller screens */
        padding: 10px 15px; /* Adjust padding if needed */
        font-size: 14px; /* Adjust font size for smaller screens */
    }

    .select-wrapper::after {
        right: 10px; /* Adjust position of the arrow */
    }

    .skills-container {
      margin-bottom: 60px; /* Adjust margin to ensure space for the dropdown */
  }
}


.skills-container {
    margin-top: 60px; /* Adjust margin to ensure space for the dropdown */
}

.skill {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
}

.skill span {
    width: 200px;
    text-align: right;
    margin-right: 20px;
}

.line {
    flex-grow: 1;
    width: 100px !important;
    height: 1px;
    background-color: #262626;
    position: relative;
}

.dot {
    width: 12px;
    height: 12px;
    background-color: #CD4232;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    transition: transform 0.3s ease;
}

.dot:hover {
    transform: scale(1.5);
}

.tooltip {
    visibility: hidden;
    width: 140px;
    background-color: #CD4232;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 8px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position above the dot */
    left: 50%;
    margin-left: -70px; /* Center the tooltip */
    opacity: 0;
    transition: opacity 0.3s;
    font-size: .7em;
    line-height: 1.2em;
}

.dot:hover .tooltip {
    visibility: visible;
    opacity: 1;
}


.content-item {
  min-width: 20em !important;
  max-width: 20em !important;
}



@media (min-width: 1255px) {
  #quarto-content>* {
    padding-left: 10% !important;
    padding-right: 10% !important;
    padding-top: 6% !important;
  }
}

@media (max-width: 1255px) {
  #quarto-content>* {
    padding-left: 0% !important;
    padding-right: 0% !important;
    padding-top: 4% !important;
  }
}




